@model DevBase.Entities.DTOs.ProductDto

@{
    Layout = "_DevBaseLayout";
}

<form method="post" class="w-75 mx-auto py-4">
    <div class="card">
        <div class="card-body shadow">
            <h3 class="text-center" style="font-family: 'Roboto Slab', serif; letter-spacing: 1px; ">Add Product</h3>
            <hr class="border-dark">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Product Name" asp-for="@Model.ProductName">
                <br>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Product Price" asp-for="@Model.ProductPrice">
                <br>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-warning ml-1">Add</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Turn Back</a>
            </div>
        </div>
    </div>

</form>